.column-padding {
    padding: 100px;
}

.text-css {
    text-align: center;
}

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px
}

BODY {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 13px;
}

#map_canvas {
    height: 100%;
    width: 100%
}

.heading2 {
    padding-top: 100px;
    text-align: center;
}

.heading3 {
    text-align: center;
}

.feedback {
    text-align: center;
    padding-top: 50px;
}

.registrationForm {
    content: 600px;
}

.userNameDisplay {
    padding-top: 50px;
}

#title_bar {
    background: #000;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

#title_bar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#title_bar ul li {
    float: left;
    padding: 10px 0px;
}

#title_bar ul li a {
    background: #000;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

#title_bar ul li a:hover {
    background: #333;
    color: #fff;
}

.container1 {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
    width: 50%;
    min-height: 500px;
}

.clear {
    clear: both;
}

.box {
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
    text-decoration: #111;
}